*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* .facebooksvg{
    width: 280px;
    position: relative;
    left: -6%;
} */
.left-img p{
    font-size: 28px;
    font-weight: 500;
    color: black;
}
form .btn-block{
    font-weight: 800;
    
}
form .btn{
    
    display: flex;
    justify-content: center;
}

